<p id="notice"><%= notice %></p>

<p>
  <strong>Street1:</strong>
  <%= @apartment.street1 %>
</p>

<p>
  <strong>Street2:</strong>
  <%= @apartment.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @apartment.city %>
</p>

<p>
  <strong>Postal:</strong>
  <%= @apartment.postal %>
</p>

<p>
  <strong>State:</strong>
  <%= @apartment.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @apartment.country %>
</p>

<p>
  <strong>Name:</strong>
  <%= @apartment.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @apartment.phone %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @apartment.hours %>
</p>

<%= link_to 'Edit', edit_apartment_path(@apartment) %> |
<%= link_to 'Back', apartments_path %>

<br><br>
<div id="apartment_map" data-apartment-id="<%=@apartment.id%>">Google Map will appear here...</div>
